@use '../abstracts';

.experience {
  padding: 1.5rem 1.5rem 4rem 1.5rem;

  @include abstracts.media-query('md') {
    grid-column: 1;
  }

  &__title {
    padding-bottom: 2rem;
    h2 {
      color: abstracts.$ceil-highlight;
      letter-spacing: 0.2rem;
      font-size: calc(1.2rem + 0.3vw);
    }
  }
}
