@use '../abstracts';

.project-card {
  padding: 2rem 0rem;

  &__title {
    padding-bottom: 0.3rem;
    display: flex;

    h3 {
      color: abstracts.$ceil-highlight;
      font-size: calc(1.2rem + 0.3vw);
      font-weight: 400;
      text-decoration: underline;
      text-decoration-color: transparent;
      transition: text-decoration-color 0.1s ease-in;

      &:hover {
        text-decoration-color: abstracts.$ceil-highlight;
        text-decoration-thickness: 2px;
      }
    }

    &__links {
      padding: 0rem 1rem;
      display: flex;
      gap: 1rem;
      align-items: center;
      font-size: calc(1.2rem + 0.3vw);
      a {
        transition: fill 0.1s ease-in;
        fill: abstracts.$ceil-highlight;
      }

      a:hover {
        fill: abstracts.$aqua-green;
      }
    }
  }

  &__description {
    p {
      padding-bottom: 0rem;
      font-size: calc(0.9rem + 0.3vw);
      font-weight: 300;
      color: abstracts.$ceil-dark;
    }
    ul {
      padding: 0rem 0rem 1rem 0rem;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap: 0.3rem;
    }
    li {
      margin-bottom: 0.1rem;
      padding: 0.4rem 0.7rem;
      font-size: calc(0.7rem + 0.3vw);
      color: abstracts.$aqua-green;
      background-color: abstracts.$aqua-green-dark;
      border-radius: 0.9rem;
    }
  }

  &__image {
    border-radius: 10px;
    width: 70%;
  }
}
