$red: #f7768e;
$orange: #ff9e64;
$yellow: #e0af68;
$green: #9ece6a;
$aqua-green: #73daca;
$aqua-light: #b4f9f8;
$aqua: #2ac3de;
$blue-light: #7dcfff;
$blue: #7aa2f7;
$purple: #bb9af7;
$ceil-light: #c0caf5;
$ceil: #a9b1d6;
$ceil-dark: #9aa5ce;
$stone: #cfc9c2;
$indgo-light: #565f89;
$indgo: #414868;
$storm: #24283b;
$night: #1a1b26;
